name: build.yml
on:
  push:
    branches:
      - main
  release:
    types:
      - created
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: '0'

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload build artifacts
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v5
        with:
          name: essentials
          retention-days: 1
          path: |
            build/libs/*.jar
      - name: Upload Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2.0.9
        with:
          files: build/libs/*.jar